#%RAML 1.0
---
title: Individuals Benefits and Credits
version: P1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: [ application/json, application/hal+json ]

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
 - title: Testing
   content: !include docs/testing.md

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/individuals/benefits-and-credits:
  /hello-world:
    get:
      displayName: Hello World
      description: An endpoint that returns hello world
      is: [headers.acceptHeader]
      responses:
        200:
          description: Return hello world
          body:
            application/json:
              example: "\"Hello World\""

  /{matchId}:
    uriParameters:
      matchId:
        description: A short-lived universally unique identifier (UUID), typically valid for several hours. Generated through the Individuals Matching API.
        type: string
        example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
    get:
      displayName: Benefits and Credits
      description: !include docs/root-description.md
      is: [headers.acceptHeader]
      (annotations.scope): "The scopes you have been assigned"
      (annotations.sandBoxData): !include sandbox/root-response.md
      responses:
        200:
          description: Use this endpoint to get a list of all available endpoints for Individuals Benefits and Credits.
          body:
            application/json:
              example: !include examples/root-response.json
              type: !include schemas/root-response.json

  /child-tax-credit/{matchId}:
    uriParameters:
      matchId:
        description: A short-lived universally unique identifier (UUID), typically valid for several hours. Generated through the Individuals Matching API.
        type: string
        example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
    get:
      displayName: Child Tax Credits
      description: !include docs/child-tax-credits-description.md
      is: [headers.acceptHeader]
      (annotations.scope): "The scopes you have been assigned"
      (annotations.sandBoxData): !include sandbox/child-tax-credits-response.md
      responses:
        200:
          description: Throws an exception
          body:
            application/json:
              example: !include examples/child-tax-credits-response.json
              type: !include schemas/child-tax-credits-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Not Found
                  value:
                    code: NOT_FOUND

  /working-tax-credit/{matchId}:
    uriParameters:
      matchId:
        description: A short-lived universally unique identifier (UUID), typically valid for several hours. Generated through the Individuals Matching API.
        type: string
        example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
    get:
      displayName: Working Tax Credits
      description: !include docs/working-tax-credits-description.md
      is: [headers.acceptHeader]
      (annotations.scope): "The scopes you have been assigned"
      responses:
        200:
          description: Throws an exception
          body:
            application/json:
              example: !include examples/working-tax-credits-response.json
              type: !include schemas/working-tax-credits-response.json