#%RAML 1.0
---
title: Individuals Benefits and Credits
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: [ application/json, application/hal+json ]

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Data availability
   content: !include docs/data-availability.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
 - title: Testing
   content: !include docs/testing.md

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/individuals/benefits-and-credits:
  /:
    get:
      displayName: Get a list of available endpoints
      description: !include docs/root-description.md
      is: [headers.acceptHeader]
      (annotations.scope): "assigned"
      securedBy: [ sec.oauth_2_0: { scopes: [ "assigned" ] } ]
      (annotations.sandboxData): !include sandbox/root-response.md
      queryParameters:
        matchId:
          description: A short-lived universally unique identifier (UUID), typically valid for several hours. Generated through the Individuals Matching API.
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
      responses:
        200:
          description: Use this endpoint to get a list of all available endpoints for Individuals Benefits and Credits.
          body:
            application/json:
              example: !include examples/root-response.json
              type: !include schemas/root-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not Found
                  value:
                    code: NOT_FOUND
  /child-tax-credit:
    get:
      displayName: Get Child Tax Credit data
      description: !include docs/child-tax-credits-description.md
      is: [headers.acceptHeader]
      (annotations.scope): "assigned"
      securedBy: [ sec.oauth_2_0: { scopes: [ "assigned" ] } ]
      (annotations.sandboxData): !include sandbox/child-tax-credits-response.md
      queryParameters:
        matchId:
          description: A short-lived universally unique identifier (UUID), typically valid for several hours. Generated through the Individuals Matching API.
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
        fromDate:
          description: The date that Child Tax Credit data is requested from.
          type: string
          required: true
          example: 2019-01-01
        toDate:
         description: The date that Child Tax Credit data is requested to. If missing, it defaults to today's date.
         type: string
         example: 2020-03-01
      responses:
        200:
          description: Use this endpoint to get an individual’s Child Tax Credit details for the requested time period. Data is not available before 2015.
          body:
            application/json:
              example: !include examples/child-tax-credits-response.json
              type: !include schemas/child-tax-credits-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not Found
                  value:
                    code: NOT_FOUND
  /working-tax-credit:
    get:
      displayName: Get Working Tax Credit data
      description: !include docs/working-tax-credits-description.md
      is: [headers.acceptHeader]
      (annotations.scope): "assigned"
      securedBy: [ sec.oauth_2_0: { scopes: [ "assigned" ] } ]
      (annotations.sandboxData): !include sandbox/working-tax-credits-response.md
      queryParameters:
        matchId:
          description: A short-lived universally unique identifier (UUID), typically valid for several hours. Generated through the Individuals Matching API.
          type: string
          required: true
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
        fromDate:
          description: The date that Working Tax Credit data is requested from.
          type: string
          required: true
          example: 2019-01-01
        toDate:
         description: The date that Working Tax Credit data is requested to. If missing, it defaults to today's date.
         type: string
         example: 2020-03-01
      responses:
        200:
          description: Use this endpoint to get an individual’s Working Tax Credit details for the requested time period. Data is not available before 2015.
          body:
            application/json:
              example: !include examples/working-tax-credits-response.json
              type: !include schemas/working-tax-credits-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not Found
                  value:
                    code: NOT_FOUND